
.tumbnail {
    width: 15px;
    height: 15px;
    object-fit: cover;
    object-position: center;
}

.body  {
    background-image: url("https://pbs.twimg.com/media/FE0zrlrXsAcFgjl?format=jpg&name=large"),linear-gradient(rgb(201, 188, 203),rgb(213, 210, 211));
    background-color: #ffffff00;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    overflow-x: hidden;
  }

.fila::after {
    content: "";
    clear: both;
    display: table;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

#carrito #cantidad-productos {
    position: absolute;
    top: 0;
    right: -20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    display: none;
    animation: fadeIn 0.5s ease;
  }

  .formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
  }
  
  .formulario__grupo-input {
    position: relative;
  }
  
  .formulario__input {
    width: 100%;
    background: rgb(8, 8, 8);
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
  }
  
  .formulario__input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
  }
  
  .formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
  }
  
  .formulario__input-error-activo {
    display: block;
  }
  
  .formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
  }
  
  .formulario__checkbox {
    margin-right: 10px;
  }
  
  .formulario__grupo-terminos, 
  .formulario__mensaje,
  .formulario__grupo-btn-enviar {
    grid-column: span 2;
  }
  
  .formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
  }
  
  .formulario__mensaje-activo {
    display: block;
  }
  
  .formulario__mensaje p {
    margin: 0;
  }
  
  .formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
  }
  
  .formulario__btn:hover {
    box-shadow: 3px 0px 30px rgba(163,163,163, 1);
  }
  
  .formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
  }
  
  .formulario__mensaje-exito-activo {
    display: block;
  }
  
  /* ----- -----  Estilos para Validacion ----- ----- */
  .formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
  }
  
  .formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
  }
  
  .formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
  }
  
  .formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
  }
  
  
  /* ----- -----  Mediaqueries ----- ----- */
  @media screen and (max-width: 800px) {
    .formulario {
      grid-template-columns: 1fr;
    }
  
    .formulario__grupo-terminos, 
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
      grid-column: 1;
    }
  
    .formulario__btn {
      width: 100%;
    }
  }
  
  .main {
    width: 90%;
    margin: auto;
  }
  
  .imagen{
    max-width:100%;
}

.alerta{
    font-weight:700;
}

.modal-contenedor{
    display:flex;
    align-items: center;
    gap:2rem;
}

.img-carrito{
    width:200px;
    padding:20px;
} 

.parrafo{
    font-weight: 900;
    font-style: italic;
}
#precioTotal{
    margin:0;
    padding:0;
}
.a{
  cursor:pointer;
  text-decoration: none;
}
.boton{
    opacity:0;
}


